{% extends 'base.html' %}
{% import 'partials/components.html' as c %}
{% block body %}
<section class='col'><h1 class='kicker'>{{ asset_id }} &middot; everything memory holds about this asset</h1><div class='timeline'>
{%- if entries -%}
{%- for e in entries %}<div class='{{ 'tl promoted' if e.promoted else 'tl' }}'><div class='rail'><span class='node'></span></div><div class='entry'><div class='facts'><div class='top'>{{ e.captured_at|when }}{{ c.pills(e.pills) }}{{ c.trace_link(e.trace_id) }}</div>
{%- if e.note %}<span class='hint'>{% if e.note.link %}superseded by {{ c.trace_link(e.note.link) }}{% else %}{{ e.note.text }}{% endif %}</span>{% endif -%}
{{- c.bar(e.bar) }}{{ c.stages(e.stages) }}</div>
{%- if e.thumb %}<img class='thumb' src='{{ e.thumb }}' width='90' height='60' loading='lazy' decoding='async' alt=''>{% endif -%}
</div></div>{% endfor -%}
{%- else -%}
<p class='hint'>no history yet</p>
{%- endif -%}
</div></section>
{% endblock %}
